<p>This is an excited link <a href="http://google.ca">http://google.ca</a>!</p>

<p>This is a boring link with an exclamation mark <a href="https://groups.google.com/forum/#!overview">https://groups.google.com/forum/#!overview</a>.</p>

<p>This is <a href="https://groups.google.com/forum/#!overview">a link which hides the exclamation mark</a>.</p>