<p>We don&#39;t actually support escaping pipes by default: |</p>

<table>
	<thead>
		<tr><th>|Heading1</th><th>|Heading|</th><th>Heading |</th></tr>
	</thead>
	<tbody>
		<tr><td>Ce|ll</td><td>Cell |</td><td>Ce | ll</td></tr>
		<tr><td>Ce| ll</td><td>|Cell</td><td>Ce||ll</td></tr>
		<tr><td>|CellCel|</td><td>Celllll |</td><td>| Cell</td></tr>
	</tbody>
</table>

<table>
	<thead>
		<tr><th>Headi|ng 1</th><th>|Heading|</th><th>Heading |</th></tr>
	</thead>
	<tbody>
		<tr><td>Ce|ll</td><td>Cell |</td><td>Ce | ll</td></tr>
		<tr><td>Ce| ll</td><td>|Cell</td><td>Ce||ll</td></tr>
		<tr><td>|CellCe|</td><td>Celllll |</td><td>| Cell</td></tr>
	</tbody>
</table>

<table>
	<thead>
		<tr>
			<th>|</th>
			<th>|</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>|</td>
			<td>|</td>
		</tr>
		<tr>
			<td>|</td>
			<td>|</td>
		</tr>
		<tr>
			<td>|</td>
			<td>|</td>
		</tr>
	</tbody>
</table>