<p>[def]: this isn&#39;t a link</p>

<p>[test]: test</p>

<p>[def use][def]</p>

<p><a href="http://example.com/but/this/is">def2 use</a></p>

<p><a href="/and/this/is/too">def3 use</a></p>

<p><a href="#as-is-this">def4 use</a></p>

<p>[test use] [test]</p>