<h1 id="link-testing">Link Testing</h1>

<h4 id="these-strings-should-auto-link-">These strings should auto-link:</h4>

<p><a href="http://example.com">http://example.com</a></p>

<p><a href="https://example.com">https://example.com</a></p>

<p><a href="taco+what://example.com">taco+what://example.com</a></p>

<p><a href="taco.what://example.com">taco.what://example.com</a></p>

<p><a href="HTTP://example.com">HTTP://example.com</a></p>

<p><a href="www.example.com">www.example.com</a></p>

<p><a href="www.example.com/index">www.example.com/index</a></p>

<p><a href="www.example.com/index.html">www.example.com/index.html</a></p>

<p><a href="www.example.com/index/sub">www.example.com/index/sub</a></p>

<p><a href="www.example.com/index?params=1">www.example.com/index?params=1</a></p>

<p><a href="www.example.com/index?params=1&amp;other=2">www.example.com/index?params=1&amp;other=2</a></p>

<p><a href="www.example.com/index?params=1;other=2">www.example.com/index?params=1;other=2</a></p>

<p><a href="http://example.com:8065">http://example.com:8065</a></p>

<p><a href="http://www.example.com/_/page">http://www.example.com/_/page</a></p>

<p><a href="www.example.com/_/page">www.example.com/_/page</a></p>

<p><a href="https://en.wikipedia.org/wiki/🐬">https://en.wikipedia.org/wiki/🐬</a></p>

<p><a href="https://en.wikipedia.org/wiki/Rendering_(computer_graphics)">https://en.wikipedia.org/wiki/Rendering_(computer_graphics)</a></p>

<p><a href="http://127.0.0.1">http://127.0.0.1</a></p>

<p><a href="http://192.168.1.1:4040">http://192.168.1.1:4040</a></p>

<p><a href="http://[::1]:80">http://[::1]:80</a></p>

<p><a href="http://[::1]:8065">http://[::1]:8065</a></p>

<p><a href="https://[::1]:80">https://[::1]:80</a></p>

<p><a href="http://[2001:0:5ef5:79fb:303a:62d5:3312:ff42]">http://[2001:0:5ef5:79fb:303a:62d5:3312:ff42]</a></p>

<p><a href="http://[2001:0:5ef5:79fb:303a:62d5:3312:ff42]:8065">http://[2001:0:5ef5:79fb:303a:62d5:3312:ff42]:8065</a></p>

<p><a href="https://[2001:0:5ef5:79fb:303a:62d5:3312:ff42]">https://[2001:0:5ef5:79fb:303a:62d5:3312:ff42]</a></p>

<p>Emails aren&#39;t supported by marked: test@example.com</p>

<p><a href="http://example.com/more_(than)_one_(parens)">http://example.com/more_(than)_one_(parens)</a></p>

<p><a href="http://example.com/(something)?after=parens">http://example.com/(something)?after=parens</a></p>

<p><a href="http://foo.com/unicode_(✪)_in_parens">http://foo.com/unicode_(✪)_in_parens</a></p>

<p><a href="http://✪df.ws/1234">http://✪df.ws/1234</a></p>

<p><em><a href="https://example.com">https://example.com</a></em></p>

<p><em><a href="https://example.com">https://example.com</a></em></p>

<p><strong><a href="https://example.com">https://example.com</a></strong></p>

<p><strong><a href="https://example.com">https://example.com</a></strong></p>

<p><strong><em><a href="https://example.com">https://example.com</a></em></strong></p>

<p><strong><em><a href="https://example.com">https://example.com</a></em></strong></p>

<p><a href="https://example.com">https://example.com</a></p>

<p><a href="https://en.wikipedia.org/wiki/Rendering_(computer_graphics)">https://en.wikipedia.org/wiki/Rendering_(computer_graphics)</a></p>

<p><a href="www1.example.com">www1.example.com</a></p>

<p><a href="https://example.com">This whole #sentence should be a link</a></p>

<p><a href="https://groups.google.com/forum/#!msg">https://groups.google.com/forum/#!msg</a></p>

<h4 id="these-strings-should-not-auto-link-">These strings should not auto-link:</h4>

<p>www.</p>

<p>http:</p>

<p><a href="www.asdf">www.asdf</a></p>

<p><a href="http://">http://</a></p>

<p>example.com</p>

<p>readme.md</p>

<p>@example.com</p>

<p>./make-compiled-client.sh</p>

<p><a href="test.:test">test.:test</a></p>

<p><code>https://example.com</code></p>

<h4 id="only-the-links-within-these-sentences-should-auto-link-">Only the links within these sentences should auto-link:</h4>

<p>(<a href="http://example.com">http://example.com</a>)</p>

<p>(see <a href="http://example.com">http://example.com</a>)</p>

<p>(<a href="http://example.com">http://example.com</a> watch this)</p>

<p>Emails aren&#39;t supported by marked: (test@example.com)</p>

<p>This is a sentence with a <a href="http://example.com">http://example.com</a> in it.</p>

<p>This is a sentence with a <a href="http://example.com">link</a> in it.</p>

<p>This is a sentence with a <a href="http://example.com/_/underscore">http://example.com/_/underscore</a> in it.</p>

<p>This is a sentence with a link (<a href="http://example.com">http://example.com</a>) in it.</p>

<p>This is a sentence with a (<a href="https://en.wikipedia.org/wiki/Rendering_(computer_graphics)">https://en.wikipedia.org/wiki/Rendering_(computer_graphics)</a>) in it.</p>

<p>This is a sentence with a <a href="http://192.168.1.1:4040">http://192.168.1.1:4040</a> in it.</p>

<p>This is a sentence with a <a href="https://[::1]:80">https://[::1]:80</a> in it.</p>

<p>This is a link to <a href="http://example.com">http://example.com</a>.</p>

<p>This is a link containing <a href="http://example.com/something?with,commas,in,url">http://example.com/something?with,commas,in,url</a>, but not at end</p>

<p>This is a question about a link <a href="http://example.com">http://example.com</a>?</p>

<h4 id="these-links-should-have-tooltips-when-you-hover-over-them">These links should have tooltips when you hover over them</h4>

<p><a href="example.com" title="catch phrase!">link</a></p>

<p><a href="example.com" title="title with &quot;quotes&quot;">link</a></p>

<p><a href="example.com/ spaces in the url " title="and a title">link with spaces</a></p>

<p><a href="https://example.com"><em>Emphasis link</em></a></p>

<p><a href="https://example.com"><em>Emphasis link</em></a></p>

<p><em><a href="https://example.com">Emphasis link</a></em></p>

<p><em><a href="https://example.com">Emphasis link</a></em></p>

<p><strong><a href="https://example.com"><em>Strong emphasis link</em></a></strong></p>

<p><strong><a href="https://example.com"><em>Strong emphasis link</em></a></strong></p>

<p><strong><a href="https://example.com"><em>Strong emphasis link</em></a></strong></p>

<p><strong><a href="https://example.com"><em>Strong emphasis link</em></a></strong></p>

<p><em><a href="https://example.com"><strong>Strong emphasis link</strong></a></em></p>

<p><em><a href="https://example.com"><strong>Strong emphasis link</strong></a></em></p>

<p><em><a href="https://example.com"><strong>Strong emphasis link</strong></a></em></p>

<p><em><a href="https://example.com"><strong>Strong emphasis link</strong></a></em></p>
