<h3 id="single-item-ordered-list">Single-Item Ordered List</h3>

<ol start="7">
	<li>Single Item</li>
</ol>

<h3 id="multi-item-ordered-list">Multi-Item Ordered List</h3>

<ol>
	<li>One</li>
	<li>Two</li>
	<li>Three</li>
</ol>

<h3 id="nested-ordered-list">Nested Ordered List</h3>

<ol>
	<li>
		Alpha
		<ol>
			<li>Bravo</li>
		</ol>
	</li>
	<li>Charlie</li>
	<li>
		Delta
		<ol>
			<li>Echo</li>
			<li>Foxtrot</li>
		</ol>
	</li>
</ol>


<h3 id="single-item-unordered-list">Single-Item Unordered List</h3>

<ul>
	<li>Single Item</li>
</ul>

<h3 id="multi-item-unordered-list">Multi-Item Unordered List</h3>

<ul>
	<li>One</li>
	<li>Two</li>
	<li>Three</li>
</ul>

<h3 id="nested-unordered-list">Nested Unordered List</h3>

<ul>
	<li>
		Alpha
		<ul>
			<li>Bravo</li>
		</ul>
	</li>
	<li>Charlie</li>
	<li>
		Delta
		<ul>
			<li>Echo</li>
			<li>Foxtrot</li>
		</ul>
	</li>
</ul>


<h3 id="mixed-list-starting-ordered">Mixed List Starting Ordered</h3>

<ol>
	<li>One</li>
	<li>Two</li>
	<li>Three</li>
</ol>

<h3 id="mixed-list-starting-unordered">Mixed List Starting Unordered</h3>

<ul>
	<li>Monday</li>
	<li>Tuesday</li>
	<li>Wednesday</li>
</ul>

<h3 id="nested-mixed-list">Nested Mixed List</h3>

<ul>
	<li>
		Alpha
		<ol>
			<li>
				Bravo
				<ul>
					<li>Charlie</li>
					<li>Delta</li>
				</ul>
			</li>
		</ol>
	</li>
	<li>Echo</li>
	<li>
		Foxtrot
		<ul>
			<li>
				Golf
				<ol>
					<li>Hotel</li>
				</ol>
			</li>
			<li>
				India
				<ol>
					<li>Juliet</li>
					<li>Kilo</li>
				</ol>
			</li>
			<li>Lima</li>
		</ul>
	</li>
	<li>
		Mike
		<ol>
			<li>
				November
				<ol start="4">
					<li>
						Oscar
						<ol start="5">
							<li>Papa</li>
						</ol>
					</li>
				</ol>
			</li>
		</ol>
	</li>
</ul>


<h3 id="new-line-after-a-list">New Line After a List</h3>

<ol>
	<li>One</li>
	<li>Two</li>
</ol>
<p>This text should be on a new line.</p>


<h3 id="task-lists">Task Lists</h3>

<ul>
	<li>
		[ ] One
		<ul>
			<li>[ ] Subpoint one</li>
			<li>Normal Bullet</li>
		</ul>
	</li>
	<li>[ ] Two</li>
	<li>[x] Completed item</li>
</ul>

<h3 id="numbered-task-lists">Numbered Task Lists</h3>

<ol>
	<li>[ ] One</li>
	<li>[ ] Two</li>
	<li>[x] Completed item</li>
</ol>


<h3 id="multiple-lists">Multiple Lists</h3>

<p>List A:</p>
<ol>
	<li>One</li>
</ol>
<p>List B:</p>
<ol start="2">
	<li>Two</li>
</ol>